<div class="container form">
  <h1> <%= @post.title %> </h1>
  Category: <%= post_tags %><br>
  <br>
  <div class="photo">
    <%= image_tag (@post).image.url(:large) %><br>
  </div>
  <p>
    <%= @post.body %><br>
  </p>
  <%= link_to "Edit", edit_user_post_path(current_user, @post), class: "waves-effect waves-light btn center" %>
  <%= link_to "Delete", user_post_path(current_user, @post), method: :delete, class: "waves-effect waves-light btn center" %>
  <%= link_to "Index", user_posts_path(current_user), class: "waves-effect waves-light btn right red" %>
</div>
