<h1> <%= Post.find(params[:id]).title %> </h1>
<p>
  <%= Post.find(params[:id]).body %><br>
  Category: <%= Post.find(params[:id]).tags.first[:name].upcase %>
</p>
<%= image_tag (Post.find(params[:id])).image.url %>

<%= link_to "Edit", edit_user_post_path(current_user, Post.find(params[:id])) %>
<%= link_to "Delete", user_post_path(current_user, Post.find(params[:id])), method: :delete %>
