<!DOCTYPE html>
<html>
<head>
  <title>Breve</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <div class="nav-wrapper">
      <div class="container">
        <a href="/" class="brand-logo left">Breve</a3>

        <% if session[:user_id] %>
          <%= link_to("Log Out", logout_path, method: :delete, class: "waves-effect waves-light btn right") %>
        <% else %>
          <%= link_to "Log In", login_path, class: "waves-effect waves-light btn right"%>
        <% end %>

        <% if current_user %>
          <p id="credentials" class="right">Logged In As: <%= current_user.username %> </p>
        <% end %>

      </div>
    </div>
  </nav>
  <% flash.each do |type, msg| %>
    <%= content_tag :div, msg, class: "flash-#{type}" %>
  <% end %>

<%= yield %>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>
